@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

body {
  margin: 0;
  padding: 0 80px 0 80px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  height: 113px;
  align-items: center;
  font-family: "Barlow", sans-serif;
}

ul.navigation {
  display: flex;
  list-style: none;
  gap: 33px;
}

ul.navigation a {
  text-decoration: none;
  color: #83888f;
}

header img {
  height: 26px;
}

/* section first  */

section.first {
  height: 600px;
  background-image: url("./images/Bitmap.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 117px 0 116px 85px;
}

section.first h1 {
  font-size: 72px;
  font-weight: 800;
  width: 493px;
  color: white;
  font-family: "Fraunces", serif;
  line-height: 72px;
}

section.first p{
font-size: 16px;
font-weight: 400;
line-height: 26px;
color: #FEFCF7;
opacity: 80%;
width: 425px;
margin-top: 32px;
}

section.first button{
width: 217px;
height: 56px;
background-color: #0E8784;
border-radius: 6px;
border: none;
  font-family: "Fraunces", serif;
  color: #FEFCF7;
  font-size: 18px;
  font-weight: 900;
  padding: 0;
  margin-top: 56px;
}